<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WorkSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplyingServlet</servlet-name>
    <servlet-class>com.servlet.ApplyingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyingServlet</servlet-name>
    <url-pattern>/ApplyingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminSearchServlet</servlet-name>
    <servlet-class>com.servlet.adminSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminSearchServlet</servlet-name>
    <url-pattern>/adminSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>auditServlet</servlet-name>
    <servlet-class>com.servlet.auditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>auditServlet</servlet-name>
    <url-pattern>/auditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changeAuditServlet</servlet-name>
    <servlet-class>com.servlet.changeAuditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeAuditServlet</servlet-name>
    <url-pattern>/changeAuditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>generateServlet</servlet-name>
    <servlet-class>com.servlet.generateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generateServlet</servlet-name>
    <url-pattern>/generateServlet</url-pattern>
  </servlet-mapping>
</web-app>